.Nav{
    list-style: none;
    display: flex;
    justify-content: center;
}
.Link a {
    box-sizing: border-box;
    border: 1px solid gray;
    padding: 10px 15px;
    margin: 0 40px;
}
.Link a{
    text-decoration: none;
}

.Link a:hover,
.Link a:active,
.Link a.active{
    color: #138;
}